@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-title-gradiant {
  background: linear-gradient(92.15deg, #bc41f5 7.05%, #4a00e0 95.59%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.templete-slide .swiper-wrapper {
  align-items: center;
}

.templete-slide .swiper-slide img {
  height: 500px;
}

.templete-slide .swiper-slide.swiper-slide-active img {

  height: 600px;
}

.aspect-ratio-a4 {
  aspect-ratio: 70/99;
  max-height: 100%;
  max-width: 100%;
}

.aspect-ratio-a4 canvas{
  max-width: 100% !important;
  max-height: 100% !important;

}